header{
  height: 80px;
  background-color: cornflowerblue;
}
main{
  height: 400px;
  background-color: lightseagreen;
}
footer{
  height: 60px;
  background-color: lightskyblue;
}
.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .flex-container1 > div{
    background-color:lawngreen;
    width: 105px;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
  }
  .flex-container2  {
    display: flex;
    flex-direction: column;
  }
  .flex-container3 {
    display: flex;
    justify-content: center;
  }
img{
  width: 140px;
  height: 110px;
}